.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.loading {
  font-size: 18px;
  font-weight: 600;
}

.error {
  font-size: 18px;
  font-weight: 800;
  color: red;
}
